<ion-view view-title="Map">
    <ion-content>
        <div id="map_canvas">

            <div class="backdrop visible active" ng-show="isPopupVisible">
                <div class="popup-container popup-showing active">
                    <div class="popup">
                        <div class="popup-head">
                            <h3 class="popup-title ng-binding">
                                {{popupTitle}}
                            </h3>
                        </div>
                        <div class="popup-body" ng-show="popupBody">
                            <span>{{popupBody}}</span>
                        </div>
                        <div class="popup-buttons">
                            <button ng-click="hidePopup()" class="button ng-binding button-positive button-default">
                                I See
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <button
                id="map-search-button"
                class="button button-clear button-calm icon ion-ios-search-strong button-large"
                ng-click="doSearch()"
            ></button>
        </div>

    </ion-content>
</ion-view>
